#map{
    margin: 0 auto;
    height: 20rem;
    width: 70rem;
}

@media only screen and (max-width: 992px){
    #map{
        margin: 0 auto;
        width: 35rem;
        height: 15rem;
    }
}


@media only screen and (max-width: 600px){
    #map{
        margin: 0 auto;
        width: 450px;
        height: 15rem;
    }
}


@media only screen and (max-width: 400px){
    #map{
        margin: 0 auto;
        width: 350px;
        height: 15rem;
    }
}